h1{
  text-align: center; 
  color: hsl(132, 12%, 44%);
  letter-spacing: initial;
}
* {
   box-sizing: border-box;
 }
 
h3 {
  text-align: center;
}

body{
  background-color:floralwhite;
}

html, body {
    height: 100%;
    width: 100%;
}

div{
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 2%;
color: rgb(126, 75, 75);
text-align: justify;
font-size: medium;
}
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    padding: 10px;
    flex: 60%;
    font-size: 20px;
    font-style: normal;
  }
  
  .flex-item-right {
    padding-left: 15px;
    padding: 5px;
    flex: 50%;
    
  }

  @media (max-width: 800px) 


   .social-media{
  box-sizing: border-box;
   }
   
  .left {
    float:left;
    width: 20%; 
    padding-left: 25%;
  }
  
  .main {
    float:inline-start;
    width: 40%; 
    padding-left: 10%;
  }
  
  .right {
    float:left;
    width: 30%; 
    
  }